name: Orchestrion

on:
    push:
      branches: [master]
      tags: ['v*']
    pull_request:
      branches: [master]

env:
  BUILD_TYPE: Release
  BUILD_DIR: build

jobs:
  build_win:
    runs-on: windows-2022

    steps:
    - name: Install Git LFS
      run: choco install git-lfs -y

    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Pull LFS files
      run: git lfs pull

    - name: Cache Qt
      uses: actions/cache@v4
      with:
        path: C:\Qt
        key: ${{ runner.os }}-qt

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.1'
        host: 'windows'
        target: 'desktop'
        arch: 'win64_msvc2022_64'
        modules: qtnetworkauth qt5compat qtscxml qtshadertools
        cache: true

    - name: Cache Ninja
      uses: actions/cache@v4
      with:
        path: C:\ProgramData\chocolatey\bin\ninja.exe
        key: ${{ runner.os }}-ninja

    - name: Install Ninja
      run: choco install ninja -y

    - name: Cache NSIS
      uses: actions/cache@v4
      with:
        path: C:\Program Files (x86)\NSIS
        key: ${{ runner.os }}-nsis

    - name: Install NSIS
      run: choco install nsis -y

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1

    - name: Configure CMake
      run: >
        cmake -B ${{github.workspace}}/build -G Ninja
        -DCMAKE_C_COMPILER=cl
        -DCMAKE_CXX_COMPILER=cl
        -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
        -DSMTG_ENABLE_VST3_HOSTING_EXAMPLES=OFF
        -DSMTG_ENABLE_VST3_PLUGIN_EXAMPLES=OFF
        -DSMTG_ENABLE_VSTGUI_SUPPORT=OFF

    - name: Build
      run: cmake --build ${{github.workspace}}/${{env.BUILD_DIR}} --config ${{env.BUILD_TYPE}} --target install

    - name: Add NSIS to PATH
      run: echo "C:\Program Files (x86)\NSIS" | Out-File -Append -Encoding utf8 $env:GITHUB_PATH

    - name: Build NSIS Installer
      run: makensis /DQtInstallDir="${{env.QT_ROOT_DIR}}" installer.nsi

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Orchestrion
        path: "${{env.BUILD_DIR}}/Orchestrion installer for Windows.exe"

    - name: Upload Debug Symbols
      uses: actions/upload-artifact@v4
      with:
        name: Orchestrion Windows
        path: ${{env.BUILD_DIR}}\Orchestrion.pdb
      if: false # Set to true (and BUILD_TYPE to Debug) if you need to locally debug a github build

  build_mac:
    runs-on: macos-latest

    steps:
    - name: Install libsndfile
      run: brew install libsndfile

    - name: Install Git LFS
      run: brew install git-lfs

    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Pull LFS files
      run: git lfs pull

    - name: Cache Qt
      uses: actions/cache@v4
      with:
        path: "/usr/local/Qt"
        key: ${{ runner.os }}-qt

    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '6.9.1'
        arch: 'clang_64'
        target: 'desktop'
        modules: qtnetworkauth qt5compat qtscxml qtshadertools
        cache: true

    - name: Cache Ninja
      uses: actions/cache@v4
      with:
        path: "/usr/local/bin/ninja"
        key: ${{ runner.os }}-ninja

    - name: Install Ninja
      run: brew install ninja

    - name: Setup macOS
      run: |
        export PATH="/usr/local/opt/qt/bin:$PATH"
        export PATH="/usr/local/opt/ninja/bin:$PATH"

    - name: Configure CMake
      run: >
        cmake -B ${{github.workspace}}/build -G Ninja
        -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
        -DSMTG_ENABLE_VST3_HOSTING_EXAMPLES=OFF
        -DSMTG_ENABLE_VST3_PLUGIN_EXAMPLES=OFF
        -DSMTG_ENABLE_VSTGUI_SUPPORT=OFF

    - name: Build
      run: cmake --build ${{github.workspace}}/${{env.BUILD_DIR}} --config ${{env.BUILD_TYPE}} --target install

    - name: Run macdeployqt
      run: macdeployqt ${{env.BUILD_DIR}}/Orchestrion.app

    - name: Codesign executable
      # https://localazy.com/blog/how-to-automatically-sign-macos-apps-using-github-actions
      env: 
        MACOS_CERTIFICATE: ${{ secrets.MACOS_CERTIFICATE }}
        MACOS_CERTIFICATE_PWD: ${{ secrets.MACOS_CERTIFICATE_PWD }}
      run: |
        echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12
        security create-keychain -p "" build.keychain
        security default-keychain -s build.keychain
        security unlock-keychain -p "" build.keychain
        security import certificate.p12 -k build.keychain -P $MACOS_CERTIFICATE_PWD -T /usr/bin/codesign
        security find-identity -v
        security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k "" build.keychain
        find ${{env.BUILD_DIR}}/Orchestrion.app -name "*.dylib" -exec codesign --timestamp --force --verify --verbose --strict --sign "Developer ID Application: Matthieu Hodgkinson (7JHUJWK5GF)" {} \;
        codesign --timestamp --deep --force --verify --verbose --strict --options runtime --sign "Developer ID Application: Matthieu Hodgkinson (7JHUJWK5GF)" ${{env.BUILD_DIR}}/Orchestrion.app

    - name: Install create-dmg
      run: brew install create-dmg

    - name: Create DMG
      run: create-dmg --volname "Orchestrion" --window-pos 200 120 --window-size 800 400 --icon-size 100 --icon Orchestrion.app 200 190 --app-drop-link 600 185 "${{env.BUILD_DIR}}/Orchestrion installer for Mac.dmg" ${{env.BUILD_DIR}}/Orchestrion.app

    - name: Notarize
      if: github.ref == 'refs/heads/master'
      run: |
        xcrun notarytool submit "${{env.BUILD_DIR}}/Orchestrion installer for Mac.dmg" --apple-id saintmatthieu@mailbox.org --team-id 7JHUJWK5GF --password ${{secrets.ORCHESTRION_SPECIFIC_PWD}} --wait
        xcrun stapler staple "${{env.BUILD_DIR}}/Orchestrion installer for Mac.dmg"

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Orchestrion Mac
        path: "${{env.BUILD_DIR}}/Orchestrion installer for Mac.dmg"
