name: Release

on:
  push:
    tags:
      - 'v*'
    # branches: [master]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          # Specify the ID of the workflow run that produced the artifacts
          run-id: 19586111938
          # Looks for "Artifact ID" in the "Upload Artifacts" step of the win and mac build jobs
          artifact-ids: 4646243212,4646196869
          path: ./artifacts
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ./artifacts/**
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}